<header class="header">
    <div class="logo__header">
        <h1 class="titulo__logo">El Chorizo Loco</h1>
        <a href="/"><img class="img__logo" src="/assets/favIcon.ico" alt="logo"></a>
    </div>
    <nav class="nav__header">
        {{>menu}}
    </nav>
    
</header>  