<a href="/"><img class="img__nav" src="/assets/favIcon.ico" alt="logo"></a>
<ul class="lista__nav">
  <li class="item__lista"><a class="enlace__item" href="/">Home</a></li>
  <li class="item__lista"><a class="enlace__item" href="">Nosotros</a></li>
  <li class="item__lista"><a class="enlace__item" href="/productos">Productos</a></li>
  <li class="item__lista"><a class="enlace__item" href="/test">Productos Test</a></li>
  <li class="item__lista"><a class="enlace__item" href="/api/usuario/login">Login Test</a></li>
</ul>