$color_Principal: blanchedalmond;
$color_Secundario: black;
$color_Texto_Default: black;
$color_Texto_Boton:lightslategrey;
$color_Btn_Sombra:gray;
$color_Btn_Alta: rgba(61, 174, 48, 0.568);
$color_Articulo :whitesmoke;
$color_Cuotas:rgba(99, 66, 129, 0.723);
$color_Alerta:rgba(187, 46, 46, 0.795);