.formulario-registrar{
    position: relative;
    top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    .registrar__formulario{
        width: 50rem;
        display: flex;
        flex-direction: column;
        box-shadow: .5rem .5rem 2rem $color_Principal;
        border-radius: 2rem;
        .titulo__registrar{
            margin: 1rem;
            font-size: 5rem;
           

        }
        .controles__registrar{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem;
            padding: 1rem;
            .img__controles{
                width: 40%;
                align-self: center;
                margin: 1rem;
                @media (max-width:768px) {
                    width: 70%;
                }
            }
            .input__controles{
                align-self: center;
                width: 80%;
                margin: 1rem;
                padding: 1rem;
                border-radius: 1rem;
                border: 0;
                box-shadow: .1rem .1rem 1rem $color_Secundario;
                &:focus{
                    box-shadow: .5rem .5rem 5rem $color_Principal;
                }
            }
            .input__fechaNacimiento{
                width: 80%;
                display: flex;
                flex-direction: row;
                text-align: start;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
            }
            .btn__controles{
                cursor: pointer;
                width: 90%;
                margin: 1rem;
                padding: 1rem;
                border: 0;
                border-radius: 1rem;
                background-color: $color_Principal;
                color:$color_Texto_Boton;
                font-size: 1.6rem;
                box-shadow: .5rem .5rem 2rem $color_Btn_Sombra;
                &:hover{
                    background-color: $color_Secundario;
                    color: $color_Principal;
                    box-shadow: .5rem .5rem 2rem $color_Principal;
                }
                &:active{
                    transform: scale(.9);
                }
            }
            .label__controles{
                margin: 1rem;
                font-size: 1.6rem;
            }
            .btn__controles-login{

                background-color: $color_Btn_Alta;
                color: $color_Secundario;
                text-decoration: none;
                &:hover{
                    background-color: whitesmoke;
                    color: $color_Btn_Alta;
                    box-shadow: .5rem .5rem 2rem $color_Secundario;
                }
            }
        }

    }
    @media (max-width:768px) {
        top: 1vh;
        margin: 1rem;
    }
}