@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@-webkit-keyframes alerta {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.6);
  }
}
@keyframes alerta {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(0.6);
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

html {
  font-size: 62.5%;
  font-family: "Varela Round", sans-serif;
}

.block {
  display: none;
}

.header {
  background-color: blanchedalmond;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
@media (max-width: 768px) {
  .header {
    justify-content: flex-start;
  }
}
.header .logo__header {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header .logo__header {
    display: none;
  }
}
.header .logo__header .img__logo {
  margin: 1rem;
  width: 3rem;
}
.header .logo__header .titulo__logo {
  text-align: center;
  margin: 1rem;
}
.header .nav__header {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.header .nav__header .img__nav {
  display: none;
  width: 3rem;
  align-self: center;
}
.header .nav__header .img__nav:hover {
  transform: scale(1.3);
  transition-duration: 1s;
}
@media (max-width: 768px) {
  .header .nav__header .img__nav {
    margin: 0.5rem 0rem 0.5rem 2rem;
    display: flex;
    align-self: flex-start;
  }
}
.header .nav__header:hover .lista__nav {
  display: flex;
}
.header .nav__header .lista__nav {
  font-size: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 768px) {
  .header .nav__header .lista__nav {
    display: none;
    margin-left: 0;
    flex-direction: column;
    align-content: center;
    margin-top: 0;
    text-align: left;
  }
}
.header .nav__header .lista__nav .item__lista {
  position: relative;
  list-style: none;
  margin: 0.5rem;
  padding: 1rem 2rem;
}
.header .nav__header .lista__nav .item__lista:hover {
  background-color: black;
  cursor: pointer;
  border-radius: 1rem;
}
.header .nav__header .lista__nav .item__lista:hover .enlace__item {
  color: blanchedalmond;
}
.header .nav__header .lista__nav .item__lista .enlace__item {
  text-decoration: none;
}

.container {
  margin: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  background-color: blanchedalmond;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer .titulo__footer {
  margin: 0.5rem;
  padding: 1rem 2rem;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.home .img__home {
  width: 70vw;
}

.formulario-login {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.formulario-login .login__formulario {
  width: 40rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5rem 0.5rem 2rem blanchedalmond;
  border-radius: 2rem;
}
.formulario-login .login__formulario .titulo__login {
  margin: 1rem;
  font-size: 5rem;
}
.formulario-login .login__formulario .controles__login {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}
.formulario-login .login__formulario .controles__login .img__controles {
  width: 40%;
  align-self: center;
  margin: 1rem;
}
@media (max-width: 768px) {
  .formulario-login .login__formulario .controles__login .img__controles {
    width: 70%;
  }
}
.formulario-login .login__formulario .controles__login .email__controles, .formulario-login .login__formulario .controles__login .password__controles {
  align-self: center;
  width: 70%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0.1rem 0.1rem 1rem black;
}
.formulario-login .login__formulario .controles__login .email__controles:focus, .formulario-login .login__formulario .controles__login .password__controles:focus {
  box-shadow: 0.5rem 0.5rem 5rem blanchedalmond;
}
.formulario-login .login__formulario .controles__login .btn__controles {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
  background-color: blanchedalmond;
  color: lightslategrey;
  font-size: 1.6rem;
  box-shadow: 0.5rem 0.5rem 2rem gray;
}
.formulario-login .login__formulario .controles__login .btn__controles:hover {
  background-color: black;
  color: blanchedalmond;
  box-shadow: 0.5rem 0.5rem 2rem blanchedalmond;
}
.formulario-login .login__formulario .controles__login .btn__controles:active {
  transform: scale(0.9);
}
.formulario-login .login__formulario .controles__login .label__controles {
  margin: 1rem;
  font-size: 1.6rem;
}
.formulario-login .login__formulario .controles__login .btn__controles-alta {
  background-color: rgba(61, 174, 48, 0.568);
  color: black;
  text-decoration: none;
}
.formulario-login .login__formulario .controles__login .btn__controles-alta:hover {
  background-color: whitesmoke;
  color: rgba(61, 174, 48, 0.568);
  box-shadow: 0.5rem 0.5rem 2rem black;
}
.formulario-login .login__formulario .error__login {
  padding: 1rem;
  font-size: 1.6rem;
  background-color: rgba(187, 46, 46, 0.795);
  border-radius: 5rem;
  color: whitesmoke;
  -webkit-animation-name: alerta;
          animation-name: alerta;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
@media (max-width: 768px) {
  .formulario-login {
    top: 1vh;
    margin: 1rem;
  }
}

.formulario-registrar {
  position: relative;
  top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.formulario-registrar .registrar__formulario {
  margin: 1rem;
  padding: 1rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0.5rem 0.5rem 2rem blanchedalmond;
  border-radius: 2rem;
}
.formulario-registrar .registrar__formulario .titulo__registrar {
  margin: 1rem;
  font-size: 5rem;
}
.formulario-registrar .registrar__formulario .controles__registrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.formulario-registrar .registrar__formulario .controles__registrar .img__controles {
  width: 40%;
  align-self: center;
  margin: 1rem;
}
@media (max-width: 768px) {
  .formulario-registrar .registrar__formulario .controles__registrar .img__controles {
    width: 70%;
  }
}
.formulario-registrar .registrar__formulario .controles__registrar .input__controles {
  align-self: center;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  box-shadow: 0.1rem 0.1rem 1rem black;
}
.formulario-registrar .registrar__formulario .controles__registrar .input__controles:focus {
  box-shadow: 0.5rem 0.5rem 5rem blanchedalmond;
}
.formulario-registrar .registrar__formulario .controles__registrar .input__fechaNacimiento {
  margin: 1rem;
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  text-align: start;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}
.formulario-registrar .registrar__formulario .controles__registrar .btn__controles {
  cursor: pointer;
  width: 90%;
  margin: 1rem;
  padding: 1rem;
  border: 0;
  border-radius: 1rem;
  background-color: blanchedalmond;
  color: lightslategrey;
  font-size: 1.6rem;
  box-shadow: 0.5rem 0.5rem 2rem gray;
}
.formulario-registrar .registrar__formulario .controles__registrar .btn__controles:hover {
  background-color: black;
  color: blanchedalmond;
  box-shadow: 0.5rem 0.5rem 2rem blanchedalmond;
}
.formulario-registrar .registrar__formulario .controles__registrar .btn__controles:active {
  transform: scale(0.9);
}
.formulario-registrar .registrar__formulario .controles__registrar .label__controles {
  margin: 1rem;
  font-size: 1.6rem;
}
.formulario-registrar .registrar__formulario .controles__registrar .btn__controles-login {
  background-color: rgba(61, 174, 48, 0.568);
  color: black;
  text-decoration: none;
}
.formulario-registrar .registrar__formulario .controles__registrar .btn__controles-login:hover {
  background-color: whitesmoke;
  color: rgba(61, 174, 48, 0.568);
  box-shadow: 0.5rem 0.5rem 2rem black;
}
.formulario-registrar .registrar__formulario .error__registrar {
  padding: 1rem;
  font-size: 1.6rem;
  background-color: rgba(187, 46, 46, 0.795);
  border-radius: 5rem;
  color: whitesmoke;
  -webkit-animation-name: alerta;
          animation-name: alerta;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
@media (max-width: 768px) {
  .formulario-registrar {
    top: 0.1vh;
    margin: 1rem;
  }
}

.productos {
  margin-top: 2rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}
.productos .productos__productos {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 880px) {
  .productos .productos__productos {
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
  }
}
.productos .productos__productos .articulo__productos {
  background-color: whitesmoke;
  width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
@media (max-width: 768px) {
  .productos .productos__productos .articulo__productos {
    width: 80vw;
  }
}
.productos .productos__productos .articulo__productos .titulo__articulo {
  margin: 0.5rem;
}
.productos .productos__productos .articulo__productos .img__articulo {
  border-radius: 0.5rem;
  margin: 0.5rem;
}
.productos .productos__productos .articulo__productos:hover {
  box-shadow: 0.5rem 0.5rem 2rem blanchedalmond;
  transform: scale(1.01);
  transition-delay: 0.1s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.productos .productos__productos .articulo__productos:hover .titulo__articulo > span {
  border-bottom: 0.2rem solid rgba(99, 66, 129, 0.723);
  transition-delay: 0.1s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.productos .productos__productos .articulo__productos .detalle {
  margin: 1rem;
  padding: 1rem;
}
.productos .productos__productos .articulo__productos .detalle__articulo .descripcion__detalle {
  text-justify: newspaper;
  text-align: justify;
}
.productos .productos__productos .articulo__productos .detalle__articulo .cuotas__detalle {
  background-color: rgba(99, 66, 129, 0.723);
  color: white;
  border-radius: 2rem;
}
.productos .productos__productos .articulo__productos .detalle__articulo .precio__detalle > span {
  border-bottom: 0.2rem solid green;
}
.productos .productos__productos .articulo__productos .btn__articulo {
  padding: 1rem;
  font-size: 1.6rem;
  background-color: blanchedalmond;
  border: 0;
  border-radius: 1rem;
}
.productos .productos__productos .articulo__productos .btn__articulo:hover {
  cursor: pointer;
  background-color: rgba(61, 174, 48, 0.568);
  color: whitesmoke;
  box-shadow: 0.5rem 0.5rem 2rem black;
}/*# sourceMappingURL=style.css.map */